body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.overlay {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; /* Inklusive Padding */
    display: inline-block; /* Container passt sich der Größe seines Inhalts an */
    width: 300px; /* Feste Breite */
    height: auto; /* Höhe passt sich dem Inhalt an */
    max-height: 500px; /* Optionale maximale Höhe */
    overflow-y: auto; /* Vertikales Scrollen aktivieren, falls der Inhalt zu groß ist */
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

.overlay2 {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    resize: both;
    overflow: auto;
    width: 300px; /* Startbreite */
    height: 250px; /* Starthöhe */
    overflow-x: auto; /* Horizontales Scrollen aktivieren */
    white-space: nowrap; /* Verhindern, dass Zeilenumbrüche umgebrochen werden */
    max-width: 600px;
    max-height: 400px;
}


.confirm-button {
    background-color: #4CAF50; /* Grün */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.confirm-button:hover {
    background-color: #45a049; /* Dunkleres Grün beim Hover */
}

.confirm-button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 250px; /* Feste Breite */
    height: 20px; /* Feste Höhe */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 150, 250, 0.5);
}

.display-text {
    margin-top: 10px;
}